<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Subscribe <a href="/subscribe">here</a>.</p>
    <p>Register <a href="/register">here</a>.</p>
  </body>
</html>
